
mixin button(text, link, btnclass, icon, left)
    if icon
        if left
            a(href=link class="button " + btnclass)
                | #{text}
                span.button__icon--left
                    i(class="fas " + icon)
        else
            a(href=link class="button " + btnclass)
                | #{text}
                span.button__icon--right
                    i(class="fas " + icon)      
    else
        a(href=link class="button " + btnclass)
            | #{text}