
//- комментарий пользователя
mixin comment__user(img, alt, name, date, message)
    div.comment__user
        div.comment__user-avatar
            img(src= img, alt="alt")
        div.comment__user-block
            div.comment__user-info
                div.comment__user-info-name
                    a(href='#')
                        |#{name}
                div.comment__user-info-date
                    i(class="far fa-clock")
                    span
                        |#{date}
            div.comment__user-message
                span
                    |#{message}

//- сообщение пользователя
mixin message__user(date, name, email, message, file)
    div.message__user
        div(class="message__user-block message__user-block--sb")
            span.message__user-block-date
                |#{date}
            div.message__user-button-top
                |кнопка del
        div.message__user-block
            span
                a(href="#" class="message__user-block-info")
                    |#{name}
            span
                a(href="#" class="content__link message__user-block-email")
                    |#{email}
        div.message__user-block
            p
                |#{message}
        div.message__user-block
            span.message__user-block-file
                |Прикрепленные файлы:
            a(href="#" class="content__link")
                |#{file}
        div.message__user-block
            div.message__user-button-bottom
                |кнопка del